@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
 
}
.App{
  max-width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}
.wrapper{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grating{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.bg-top{
  position:fixed;
  top: -168px;
  right: -181px;
}
.bg-bottom{
  position: fixed;
  bottom: -124px;
  left: -150px;
}
.g-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;

  color: #293264;
}

.sub-title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #293264;
  margin:7px 0px 29px ;
}
.g-but{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  cursor:pointer;
  color: #F5F7FB;

  width: 193px;
  height: 52px;
  background: #4D5B9E;
  border-radius: 15px;
  padding: 16px 28.5px;
  border: none;

  margin-top: 50px;
}

.created{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #29326437;
border-bottom:2px solid #2932647f;
  margin-bottom: 20px;
}

/* //page question */

.main-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

}
.section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap:10px;
  width: 559px;
  border-bottom: 2px solid #4c4c4d20;
}

  

 .anwer-block{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 10px;
  } 
.question{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 19px;
  margin-top: 15px;
}  

.answer{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.5px;

  text-align: center;

  color: #293264;
  background:#D6DBF5;
  border: 0.794239px solid #4D5B9E;
  border-radius: 7.94239px;
  padding: 5px 9px;
}
.answer-res{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.px;
  background-color: #fff;
  text-align: center;
  cursor:pointer;
  color: #293264;

  border: 0.794239px solid #4D5B9E;
  border-radius: 7.94239px;
  padding: 5px 9px;
}
.green{
  background: #94D7A2;
}
.red{
  background:#F8BCBC;
}

.new-game{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.new-game>span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 200px;
  
  background-color: #528aaf5c;
  color: #293264;

  text-align: center;
  border-radius: 15px;
  padding: 15px;

  position:fixed ;
  right: 30px;
  top: 150px;

}

.category-box{
  display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    align-content: stretch;
margin: 50px auto;
}
.category-box>h2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 9px;
  color: #293264;
}
.cat{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.g-but-cat{
width: fit-content;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 9px;
  text-align: center;
  cursor:pointer;
  color: #F5F7FB;
  background: #4D5B9E;
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
  

}

