@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
 
}
.App{
  max-width: 1275px;
  overflow: hidden;
}
.wrapper{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grating{
width: 100%;
height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.bg-top{
  position:fixed;
  top: -168px;
  right: -181px;
}
.bg-bottom{
  position: fixed;
  bottom: -124px;
  left: -150px;
}
.g-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 31.25px;
line-height: 37px;
text-align: center;

color: #293264;
}

.sub-title{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #293264;
  margin:7px 0px 29px ;
}
.g-but{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #F5F7FB;

width: 193px;
height: 52px;
background: #4D5B9E;
border-radius: 15px;
padding: 16px 28.5px;
border: none;

margin-top: 50px;
}


/* //page question */

.main-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
gap: 30px;

}
.section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap:15px;
  width: 559px

}
.section>span{
 width: 100%;
 height: 1.5px;
 background: rgba(178, 178, 178, 0.378);
}
  

 .anwer-block{
    width: 100%;

    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 30px;

  } 
.question{
  font-family: 'Karla';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 19px;

}  

.answer{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 12px;
letter-spacing: 0.5px;

text-align: center;

color: #293264;
background: rgb(111, 111, 111);
border: 0.794239px solid #4D5B9E;
border-radius: 7.94239px;
padding: 5px 9px;
}
.answer-res{
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 12px;
letter-spacing: 0.5px;
background-color: #fff;
text-align: center;

color: #293264;

border: 0.794239px solid #4D5B9E;
border-radius: 7.94239px;
padding: 5px 9px;
}
.green{
  background: rgb(16, 223, 26);
}
.red{
  background: rgb(225, 54, 6);
}

.new-game{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.new-game>span{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62px;
  width: fit-content;
  height: 70px;
  background-color: #528aaf5c;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 5px;
}